/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
html,
body {
  height: 100%;
}
.subcribe-btn {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.join-btn {
  background-color: white;
  border: 1px solid rgb(41, 118, 221);
  height: 36px;
  width: 62px;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(41, 118, 221);
}
.tweet-btn {
  color: white;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  background-color: rgb(2, 158, 225);
  width: 74px;
  height: 36px;
  cursor: pointer;
  font-size: 15px;
  margin-left: 8px;
}
